<div class='panel panel-primary' *ngIf='competitor'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + competitor.firstname +' ' + competitor.lastname }}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Eesnimi:</div>
                    <div class='col-md-6'>{{competitor.firstname}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Perenimi:</div>
                    <div class='col-md-6'>{{competitor.lastname}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Vanus:</div>
                    <div class='col-md-6'>{{competitor.age}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Sugu:</div>
                    <div class='col-md-6'>{{competitor.gender}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Koduvald:</div>
                    <div class='col-md-6'>{{competitor.county}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Vanema telefon:</div>
                    <div class='col-md-6'>{{competitor.parentPhone}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Vanema email:</div>
                    <div class='col-md-6'>{{competitor.parentEmail}}</div>
                </div>
            </div>

        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
            <a class='btn btn-default' style='width:80px'> Muuda </a>
    </div>
</div>